/* Reglas por defecto */

* {
    box-sizing: border-box;
    /* font */
    font-family: "Averta CY", sans-serif;
}

body {
    margin: 0;
}

#section-1 {
    width: 100%;
    float: left;
}


/*smooth scrolling*/

html {
    scroll-behavior: smooth;
}


/*section-1*/

#section-1 {
    width: 100%;
    font-size: 10px;
    text-align: center;
    padding: 30px 30px;
}

.section-1 h1 {
    font-size: 130px;
}

.section-1 i {
    font-size: 200px;
}

.section-1 {
    padding-bottom: 50px;
}


/*section-2*/

.section-2 {
    width: 100%;
    float: left;
    text-align: center;
    padding: 30px;
}

.section-2 h3 {
    font-size: 40px;
    color: rgb(34, 148, 148);
}


/*scrollbar*/

#section-1 {
    width: 100%;
    float: right;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    float: right;
    box-shadow: 10px 10px 5px grey;
}

div.scrollmenu a {
    display: inline-block;
    color: gray;
    text-align: right;
    font-size: 20px;
    text-decoration: none;
    padding: 14px;
    float: right;
}

div.scrollmenu a:hover {
    background-color: rgb(82, 82, 82);
}


/*section-3*/

#section-3 {
    width: 100%;
    float: left;
    padding-top: 70px;
    padding: 50px 150px;
}


/*section-4*/

#section-4 {
    width: 100%;
    float: left;
    padding: 50px 150px;
}


/*section-5*/

#section-5 {
    width: 100%;
    float: left;
    padding: 50px 150px;
}


/*section-6*/

#section-6 {
    width: 100%;
    float: left;
    padding: 50px 150px;
}


/*section-7*/

#section-7 {
    width: 100%;
    float: left;
    padding: 50px 150px;
}


/*column-2*/

.column-2 {
    width: 50%;
    float: left;
    padding: 0px 30px;
}

.column-2 h3 {
    font-size: 40px;
    color: rgb(34, 148, 148);
}

.column-2 p {
    font-size: 25px;
}

.column-2 li {
    font-size: 25px;
}


/*box-shadow*/

img {
    box-shadow: 10px 10px 5px grey;
    border-radius: 10px;
}


/*navigation menú*/

.section-8 {
    width: 100%;
    float: left;
    padding: 200px 200px;
    background-color: rgb(230, 227, 227);
}

select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

.header {
    padding: 10px 16px;
    color: #f1f1f1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#section-8 {
    background-color: rgb(114, 113, 111);
}

.sticky+.content {
    padding-top: 102px;
}


/*mediaquerry*/

@media screen and (max-width: 1000px) {
    /*column-2*/
    .column-2 {
        width: 100%;
        float: left;
    }
    .column-2 h3 {
        font-size: 20px;
        color: rgb(34, 148, 148);
    }
    .column-2 p {
        font-size: 15px;
    }
    .column-2 li {
        font-size: 15px;
    }
    /*section-1*/
    #section-1 {
        font-size: 10px;
        text-align: center;
        padding: 130px 30px;
    }
    .section-1 h1 {
        font-size: 70px;
        padding-top: 170px;
    }
    .section-1 i {
        font-size: 180px;
        padding-bottom: 170px;
    }
    /*section-2*/
    .section-2 {
        width: 100%;
        float: left;
        text-align: center;
        padding: 30px;
    }
    .section-2 h3 {
        font-size: 20px;
        color: rgb(34, 148, 148);
    }
    .section-2 iframe {
        width: 510px;
        height: 255px;
    }
    img {
        width: 390px;
        height: 140px;
    }
}